<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.3.1/vue-resource.min.js"></script>
    <title></title>
</head>
<body>
    <div class="container" id="app">
        <div class="row">
            <form class="col-md-6 col-md-offset-1">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Digite o nome"
                           v-model="member.name">
                </div>
                <div class="form-group">
                    <label for="idade">Idade</label>
                    <input type="text" class="form-control" id="idade" placeholder="Digite a idade"
                           v-model="member.age">
                </div>

                <button type="button" class="btn btn-primary"
                        v-on:click="saveMember(member)">
                    Salvar
                </button>

                <button type="button" class="btn btn-danger">
                        Cancelar
                </button>
            </form>

            <div class="col-md-6 col-md-offset-3 group-form">
                <label for="search">Pesquisar</label>
                <input type="text" id="search" class="form-control" placeholder="Pesquisar Colaborador">
            </div>

            <div class="col-md-6 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Idade</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr v-for="m in members">
                            <td >{{m.name}}</td>
                            <td >{{m.age}}</td>
                            <td>
                                <button type="button" name="editar" class="btn btn-warning">
                                    Editar
                                </button>
                            </td>
                            <td>
                                <button type="button" name="cancelar" class="btn btn-danger">
                                    Excluir
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                member: {
                    name: '',
                    age: ''
                },
                members: []
            },
            methods: {
                getMembers() {
                    this.$http.get('http://todo-spring-boot-testit.herokuapp.com/member')
                    .then((d) => {
                        this.members.push(...d.data._embedded.member);
                    })
                    .catch((e) => {
                        console.log(e);
                    });
                },
                saveMember(member) {
                    this.$http.post('http://todo-spring-boot-testit.herokuapp.com/member', member)
                    .then(d => {
                        this.members.push(member);
                    }, e => {
                      console.log(e);
                    });
                }
                //editMember -> this.$http.put('rota/:id', member)
                //deleteMember -> this.$http.delete('rota/:id')
            }
        });

        app.getMembers();
    </script>
</body>
</html>
