<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.3.1/vue-resource.min.js"></script>
    <title></title>
</head>
<body>
    <div class="container" id="app">
        <div class="row">
            <form class="col-md-6 col-md-offset-1">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Digite o nome"
                           v-model="member.name">
                </div>
                <div class="form-group">
                    <label for="idade">Idade</label>
                    <input type="text" class="form-control" id="idade" placeholder="Digite a idade"
                           v-model="member.age">
                </div>

                <button type="button" class="btn btn-primary"
                        v-on:click="editing ? updateMember(member) : createMember(member)">
                    Salvar
                </button>

                <button type="button" class="btn btn-danger"
                        v-on:click="cleanMember()">
                        Cancelar
                </button>
            </form>

            <div class="col-md-6 col-md-offset-3 group-form">
                <label for="search">Pesquisar</label>
                <input type="text" id="search" class="form-control" placeholder="Pesquisar Colaborador">
            </div>

            <div class="col-md-6 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Idade</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr v-for="m in members">
                            <td >{{m.name}}</td>
                            <td >{{m.age}}</td>
                            <td>
                                <button type="button" name="editar" class="btn btn-warning"
                                        v-on:click="editMember(m)">
                                    Editar
                                </button>
                            </td>
                            <td>
                                <button type="button" name="cancelar" class="btn btn-danger"
                                        v-on:click="deleteMember(m)">
                                    Excluir
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <script>
        const apiUrl = 'https://todo-spring-boot-testit.herokuapp.com/';

        let app = new Vue({
            el: '#app',
            data: {
                member: {
                    name: '',
                    age: ''
                },
                members: [],
                editing: false,
                memberUrl: '' //TODO: Check if this is the best way
            },
            methods: {
                cleanMember() { //TODO: Refactoring
                    this.member.name = '';
                    this.member.age = '';
                    this.memberUrl = '';
                    this.editing = false;
                },
                getMembers() {
                    this.$http.get(`${apiUrl}/member`)
                    .then((d) => {
                        this.members = d.data._embedded.member;
                    })
                    .catch((e) => {
                        console.log(e);
                    });
                },
                createMember(member) {
                    this.$http.post(`${apiUrl}/member`, member)
                    .then(data => {
                        this.cleanMember();
                        this.members.push(data.body);
                    }, e => {
                      console.log(e);
                    });
                },
                editMember(member) { //TODO: Refactoring
                    this.editing = true;
                    this.memberUrl = member._links.self.href;
                    this.member = cloneObj(member);
                },
                updateMember(member) {
                    this.$http.put(this.memberUrl, member)
                    .then(data => {
                        this.cleanMember();
                        this.getMembers();
                    }, e => {
                      console.log(e);
                  });
                },
                deleteMember(member) {
                    this.memberUrl = member._links.self.href; //TODO: Refactoring
                    this.$http.delete(this.memberUrl)
                    .then(data => {
                        this.getMembers();
                    }, e => {
                      console.log(e);
                    });
                }
            }
        });

        app.getMembers();

        function cloneObj(object) {
            return JSON.parse(JSON.stringify(object));
        }
    </script>
</body>
</html>
